div(id ='#{bank.id}-login' class='bankLogin'
    style='cursor: pointer;')
  img(src = '#{bank.imgPath}' alt = '#{bank.name}' class='bankLoginImage')
  div
    a(href = "#" class='bankLoginName') #{bank.name}

form(id= '#{bank.id}-form' method='POST', action='#{bank.bankAuthUrl}')

  input(name='A01Y_ACTION_ID', type='hidden', value='#{bank.messageType}')
  input(name='A01Y_VERS', type='hidden', value='#{bank.version}')
  input(name='A01Y_RCVID', type='hidden', value='#{bank.vendorId}')
  input(name='A01Y_LANGCODE', type='hidden', value='#{bank.languageCode}')
  input(name='A01Y_STAMP', type='hidden', value='#{bank.identifier}')
  input(name='A01Y_IDTYPE', type='hidden', value='#{bank.idType}')
  input(name='A01Y_RETLINK', type='hidden', value='#{bank.returnLink}')
  input(name='A01Y_CANLINK', type='hidden', value='#{bank.cancelLink}')
  input(name='A01Y_REJLINK', type='hidden', value='#{bank.rejectLink}')
  input(name='A01Y_KEYVERS', type='hidden', value='#{bank.keyVersion}')
  input(name='A01Y_ALG', type='hidden', value='#{bank.algorithmType}')
  input(name='A01Y_MAC', type='hidden', value='#{bank.mac}')

script.
  var bankLogin = document.getElementById('#{bank.id}-login');
  bankLogin.onclick = function() {
    var form = document.getElementById('#{bank.id}-form');
    form.submit();
  };