form(method='POST', action='#{bankAuthUrl}')
  input(name='A01Y_ACTION_ID', type='hidden', value='#{messageType}')
  input(name='A01Y_VERS', type='hidden', value='#{version}')
  input(name='A01Y_RCVID', type='hidden', value='#{vendorId}')
  input(name='A01Y_LANGCODE', type='hidden', value='#{languageCode}')
  input(name='A01Y_STAMP', type='hidden', value='#{identifier}')
  input(name='A01Y_IDTYPE', type='hidden', value='#{idType}')
  input(name='A01Y_RETLINK', type='hidden', value='#{returnLink}')
  input(name='A01Y_CANLINK', type='hidden', value='#{cancelLink}')
  input(name='A01Y_REJLINK', type='hidden', value='#{rejectLink}')
  input(name='A01Y_KEYVERS', type='hidden', value='#{keyVersion}')
  input(name='A01Y_ALG', type='hidden', value='#{algorithmType}')
  input(name='A01Y_MAC', type='hidden', value='#{checksumKey}')
  input(value='Submit', type='submit')
